<div class="row">
  <div class="col-3-sm">
    <h3> 3 most recent</h3>
    <ul>
      <% @three_most.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-3-sm">
    <h1>Products</h1>
    <h3><%= link_to "Add a New Product", new_product_path %></h3>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %> $<%= product.cost %></li><p>Origin: <%= product.country_origin %></p>
      <% end %>
    </ul>
  </div>

  <div class="col-3-sm">
    <h3>Product with most reviews</h3>
    <ul>
      <% @one_most.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
</div>
